<div class='red'><p id="notice"><%= notice %></p></div>

<h1>AirLine Manager Page</h1>

<h1>Customer's Modified Request</h1>
  <% @c_requests.each do |cr| %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Request ID</th>
      <th scope="col">Seat</th>
      <th scope="col">Date</th>
      <th scope="col">Departure</th>
      <th scope="col">Arrival</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= cr.id %></td>
      <td><%= cr.seat %></td>
      <td><%= cr.date %></td>
      <td><%= cr.departure %></td>
      <td><%= cr.arrival%></td>
      <td><%= button_to 'Confirm', edit_order_path(cr.order_id), class: 'btn btn-success', method: :get %>
        <%= button_to 'Transfer to other Airline', edit_order_path(cr), method: :get, class: 'btn btn-danger'  %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>




<h1>Request from other Airlines<h1>
