<div class='red'><p id="notice"><%= notice %></p></div>

<div class="register-block">
  <button class="btn btn-success hide" id='register'>Register!</button>
  <button class="btn btn-outline-primary hide" id='already-register'>Already Register</button>
</div>

<h1>AirLine Manager Page</h1>

<h2>Customer's Modified Request</h2>
<% @c_requests.each do |cr| %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Request ID</th>
      <th scope="col">Seat</th>
      <th scope="col">Date</th>
      <th scope="col">Departure</th>
      <th scope="col">Arrival</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= cr.id %></td>
      <td><%= cr.seat %></td>
      <td><%= cr.date %></td>
      <td><%= cr.departure %></td>
      <td><%= cr.arrival%></td>
      <td><%= button_to 'Inspect', edit_order_path(cr.order_id), class: 'btn btn-success', method: :get %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>




<h2>Request from other Airlines</h2>
