<div class='red'><p id="notice"><%= notice %></p></div>

<div class="register-block">
  <button class="btn btn-success hide" id='register'>Register!</button>
  <button class="btn btn-outline-primary hide" id='already-register'>Already Register</button>
</div>

<div class='hide' id='unregister'>
  <br>
  <br>
  <br>
  <div class="form-group">
    <label>Enter the address you want to unregister</label>
    <br>
    <input id='unregister-address' placeholder="EX: 0x123sdjasdais23...">
    <br>
    <button id='unregister-btn' class="btn btn-danger">Unregister!</button>
  </div>
  <br>
  <br>
  <br>
</div>

<h1>AirLine Manager Page</h1>

<h2>Customer's Modified Request</h2>
<% @c_requests.each do |cr| %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Request ID</th>
      <th scope="col">Seat</th>
      <th scope="col">Date</th>
      <th scope="col">Departure</th>
      <th scope="col">Arrival</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= cr.id %></td>
      <td><%= cr.seat %></td>
    <td><%= cr.date %></td>
      <td><%= cr.departure %></td>
      <td><%= cr.arrival%></td>
      <td><%= button_to 'Inspect', edit_order_path(cr.order_id), class: 'btn btn-success', method: :get %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>


<h2>Payment request from partners</h2>
<% @payments.each do |payment| %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">To</th>
      <th scope="col">Amount(ether)</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= payment.to %></td>
      <td><%= payment.amount %></td>
      <td><button class="btn btn-primary" id='pay' payID=<%= payment.id %>  address=<%= payment.to %>>Pay</button></td>
    </tr>
  </tbody>
</table>

<% end %>
