<% if current_user %>
  <h1>Modified form</h1>
  <%= render 'form', order: @order %>
  <%= link_to 'Show', @order %> |
  <%= link_to 'Back', orders_path %>
<% else %>

  <h2> user information: <%= @order.user.email %> </h2>

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Seat</th>
      <th scope="col">Date</th>
      <th scope="col">Departure</th>
      <th scope="col">Arrival</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Previous</td>
      <td><%= @order.seat %></td>
      <td><%= @order.date %></td>
      <td><%= @order.departure %></td>
      <td><%= @order.arrival%></td>
    </tr>

     <tr class='red'>
      <td>New</td>
      <td><%= @cr.seat %></td>
      <td><%= @cr.date %></td>
      <td><%= @cr.departure %></td>
      <td><%= @cr.arrival%></td>
    </tr>
  </tbody>
  </table>
<button class='btn btn-success' id='confirm'> Confirm User's request</button>

<h2>Or Send to other Airlines</h2>

<% @other_acs.each do |ac| %>
  <input type="radio" name="airline" value=<%= ac.id %> > <%= ac.name %> <br>
<% end %>

<button class='btn btn-danger'> Submit </button>
<% end %>


