<% if current_user %>
  <h1>Modified form</h1>
  <%= render 'form', order: @order %>
  <%= link_to 'Show', @order %> |
  <%= link_to 'Back', orders_path %>
<% else %>


  <div class='hide'>
  <!-- hidden value  -->
    <p id='request-id'><%= @cr.id %></p>
    <p id='order-id'><%= @order.id %></p>
  </div>

  <h2> user information: <%= @order.user.email %> </h2>

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Airline Name</th>
      <th class='hide' scope="col">Airline ID</th>
      <th scope="col">Seat</th>
      <th scope="col">Date</th>
      <th scope="col">Departure</th>
      <th scope="col">Arrival</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Previous</td>
      <td><%= @order.ac.name %></td>
      <td class='hide'><%= @order.ac.id %></td>
      <td><%= @order.seat %></td>
      <td><%= @order.date %></td>
      <td><%= @order.departure %></td>
      <td><%= @order.arrival%></td>
    </tr>

     <tr class='red'>
      <td>New</td>
      <td><%= @cr.ac.name %></td>
      <td id='n-ac-id' class='hide'><%= @cr.ac_id %></td>
      <td id='n-seat'><%= @cr.seat %></td>
      <td id='n-date'><%= @cr.date %></td>
      <td id='n-departure' ><%= @cr.departure %></td>
      <td id='n-arrival'><%= @cr.arrival%></td>
    </tr>
  </tbody>
  </table>
<button class='btn btn-success' id='confirm'>Confirmt</button>
<button class='btn btn-warning' id='reject'>Reject</button>

<h2>Or Send to other Airlines</h2>
<% @other_acs.each do |ac| %>
  <input type="radio" name="airline" value=<%= ac.id %> > <%= ac.name %> <br>
<% end %>

<button id='transfer' class='btn btn-danger'> Transfer </button>
<% end %>
