<!DOCTYPE html>
<html>
  <head>
    <title>Airline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user || current_ac %>
      <nav class="navbar navbar-dark bg-dark">
        <%= link_to "Home", root_path, class: 'navbar-brand' %>
        <p class='right white'><%= current_user.try(:email) || current_ac.try(:name) %> </p>
      </nav>
    <% end %>


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
